<div class="bg-vip already-written">
                <span>Your message has been sent.</span>
                <span class="underline pointer" onclick="window.location='<%=tchatcheconversation_path(id: params[:id])%>';" data-bind="click: showConversation">Click here to continue the conversation.</span>
            </div>