 <div class="row">
        <div class="hidden-xs col-sm-5 col-md-5 col-lg-4 register-infos-container">
            <a href="/Account/VIPLogin" class="back btn bg-vip hover no-radius no-border center-block">
                <span class="icon-back"></span>Back
            </a>
            <div class="register-infos">
                <h1>
                    <span>Become</span>
                    <span>Member !</span>
                </h1>
                <div class="col-xs-7 col-sm-7 col-md-8 col-lg-5 desc">
                    <span class="bold">Profite des avantages réservés aux membres Privilèges :</span>
                    <span>a unique nickname,</span>
                    <span>photo albums,</span>
                    <span>your favorites list,</span>
                    <span>a custom profile page</span>
                    <span>and so much more</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-5 col-lg-6 form-container register-form">
            <a href="/Account/VIPLogin" class="back btn bg-vip hover no-radius no-border center-block hidden-sm hidden-lg hidden-md">
                <span class="icon-back"></span>Back
            </a>
            <div id="facebooklogin" class="btn btn-block btn-social btn-facebook">
                <span class="icon-facebook"></span>
                Register with Facebook
            </div>
            <div id="googlelogin" class="btn btn-block btn-social btn-google">
                <span class="icon-google-plus-color">
                    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                </span>
                Register with Google
            </div>
            <div class="divider uppercase">
                <span>or</span>
            </div>
            <h1 class="text-center text-uppercase">
                <span class="icon-vip text-vip"></span>
                <span class="text-guest">Registration</span>
            </h1>
            <%=render 'formregister', user: @user%>
            <div id="htmlValidation" class="hidden"></div>
        </div>
        <div class="hidden-xs hidden-sm col-md-2 col-lg-2 form-infos-banner">
            <banner   params="{ page: 'modal', formats: [{ width: 300, height: 250}], time: 12000}"></banner>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 small text-justify">
            The gathered information is subject to a treatment designed to create your account and to end statistics. Subject choices you made by checking the box, you will receive by email newsletters from this site. Data are collected by the company 123Multimedia. The data on your account are retained as you are registered with the Chat. If unsubscribe, your account and all your data is deleted. According to the law 78-17 of 6 January 1978 anyone on chatting may obtain and if necessary, correct or delete information about it. For this, simply send your request to: chattracetv@hotline.center.
        </div>
    </div>
</div>


    </div>

    
<style>
    .swal2-input::-webkit-input-placeholder {
        color: #000 !important;
        opacity: 1 !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }
</style>
<div class="feedbackMessages hidden">
    <span id="globalError">Error</span>
    <span id="welcomeUser">Welcome {0}!<br/>You're connected to the chat.</span>
    <span id="welcomeUserPseudo">Welcome! <br /> You are now connected on the chat with the pseudo {0}.</span>
    <span id="noResult">No online user matching your criteria.<br/>Changes them and launched a new search.</span>
    <span id="registerLink">Register</span>
    <span id="cancel">No thanks</span>
    <span id="publicAlbumInfosTitle">Public album</span>
    <span id="publicAlbumInfos"><span>Who can view it?</span> Everybody can view it.</span>
    <span id="privateAlbumInfosTitle">Private album</span>
    <span id="privateAlbumInfos"><span>Who can view it?</span> Only you. <span>How to share my private photos?</span> On chat screen, click on the "Attach an Image" icon and select the picture to send.</span>
    <span id="ratingSuccess">Thanks for your vote.</span>
    <span id="positiveFeedback">Request taken into account.</span>
    <span id="settingsAlbumsPicture">Your picture's validation is in progress</span>
    <span id="settingsAlbumsVideo">Your video is awaiting moderation</span>
    <span id="settingsPendingProfilePicture">Your profile picture will be published in a few minutes</span>
    <span id="feedBackProfilePicture">Your new photo is awaiting moderation</span>
    <span id="warning">Warning</span>
    <span id="geolocationWarning">Please share your location to see users nearby! </span>
    <span id="tip">Tip</span>
    <span id="geolocationTip">Choose "Always share my location" to see connected near you.</span>
    <span id="accountDeletionConsequences">If you delete your account, your data and username will be deleted permanently and irreversibly.</span>
    <span id="accountDeletionConfirmation">Are you sure you want to delete your account?</span>
    <span id="yes">Yes</span>
    <span id="no">No</span>
    <span id="fakeProfilesWarning"><b>Anti-Fake Profiles</b><br/>Use the "report abuse" button. <img src="/Content/Common/Images/ReportAbuse.png" alt="Report Abuse" /></span>
    <span id="facebookLoginIssue">Facebook login issue; try again please…</span>
    <span id="guestEntranceNotification">The nickname 'Guest' is automatically assiged to you in Free Access mode. If you would like to personalize your nickname, please register as a full member using the button below. The process is quick, free and comes full of benefits.</span>
    <span id="guestEntranceNotificationGuestOnly">A nickname 'Guest' is now automatically assigned in Free Access mode.</span>
    <span id="guestNameNotificationForVIP">Only members have a personalized nickname. Nicknames starting with 'Guest' are connected via guest login.</span>
    <span id="reportAbuseProfile">Do you want to report this profile to moderation team?</span>
    <span id="reportAbuseMedia">Do you want to report this media to moderation teams?</span>
    <span id="profilePictureNotValidated1">Your profile photo is not validated because it does not respect the rules of our editorial guidelines.</span>
    <span id="profilePictureNotValidated2">Click here to see our editorial guidelines.</span>
    <span id="featureReservedForVIP">This feature is reserved for members.</span>
    <span id="profileDeactivated">To continue chatting, you must activate your account by clicking on the link received by email.</span>
    <span id="today">today</span>
    <span id="yesterday">yesterday</span>
    <span id="thisWeek">this week</span>
    <span id="thisMonth">this month</span>
    <span id="recently">recently</span>
    <span id="chatOfflineFeedback">Your message has been sent. This user is offline; he will see your messages on next login.</span>
    <span id="reportAbuseOnMessageFeedback">Your report has been taken into account. This user is now blocked and added to your blacklist.</span>
    <span id="fileTypeNotSupported">File type not supported</span>
    <span id="activationNotification">Welcome on the chat!<br />
You'll receive a registration email.<br />
Click on the link to stay logged in and validate your account.</span>
    <span id="cmpMessage3">By opting out of receiving targeted ads, we can only provide a limited service.<br />
To get the full, free version, simply click the <i>"Accept All and Continue"</i> <a href="javascript:void(0);" onclick="window.Sddan.cmp.displayUI();">on this screen</a>.<br />
If you do not wish to accept targeted ads, <a href="https://tchatche.club/">click here</a>.</span>
    <span id="userBlacklisted">This user is now blocked. He will soon disappear from the connected users list. Warning: this action is irreversible.</span>
    <span id="phoneNumberShareNotification1">Be careful before sharing your phone number!</span>
    <span id="phoneNumberShareNotification2">Got it.</span>
    <span id="sendCredentialsMailError">Please enter a valid email address</span>

    
    <span id="promoPremiumPackClickHere">Click here!</span>
    <div id="promoPremiumPack">
        <div class="new">New</div>
        <div class="content">
            <span class="h4 text-man">Subscribe now to</span>
            <span class="h1 text-woman">pack premium</span>
            <span class="h4 text-man">on the app<br />(Available on Google Play and App Store)</span>
            <span class="infos">and enjoy exclusive benefits</span>
            <div class="advantages">
                <div class="advantage" id="advantage1">
                    <span class="ico"></span>
                    <span class="text">Call other connected <span class="text-man bold">preserving your anonymity</span></span>
                </div>
                <div class="advantage" id="advantage2">
                    <span class="ico"></span>
                    <span class="text">Receive <span class="text-man bold">delivery and read receipt</span> of your messages</span>
                </div>
                <div class="clear"></div>
                <div class="advantage" id="advantage3">
                    <span class="ico"></span>
                    <span class="text">Make your <span class="text-man bold">messages priority</span></span>
                </div>
                <div class="advantage" id="advantage4">
                    <span class="ico"></span>
                    <span class="text">No more <span class="text-man bold">advertising</span></span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    

    
    
    
    >
    

    
    <span id="activationMailSent">Your account activation email has just been sent to you.</span>
    <span id="emailUpdated">Your email is modified.</span>
    

    
    <div id="mailNotValid">
        <div class="content">
            <center><img src="/Content/Common/Images/ActivationIncentive/Activation.png" /></center>
            <span class="h4 text-woman">
                <br />
                Confirm your email.
                <br />
            </span>
            <span class="infos">
                To continue chatting, you must activate your account by clicking on the link received by email at this address: .
                <br /><br />
                Checks in spam folder in your mailbox.
                <br /><br />
                Sorry, but you'll be disconnected.
            </span>
        </div>
    </div>
    

    
    <span id="limitedAccessGranted">This access is limited but you will enter the chat room. Otherwise, you should have used the always unlimited and free member access.</span>
    <span id="limitedAccessRefused">This access is limited and there is no more room, sorry. Choose <a href="/account/register">member</a> access to chat immediately. It is unlimited and free.</span>
    

    
        <span id="googleRecaptchaTokenMissing">Please check the security code</span>
</div>



    


<script type="text/html" id="banner-template">
        <object data-bind="attr: { data: bannerUrl }, banner: { formats: formats, format: format }"></object>
</script>
<!-- False -->    <div class="overlay"></div>
<div class="row" id="spinner">
    <div class="hidden-xs col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 spinner">
        <span class="icon-logo fs-10x"></span>
        <div class="balls">
            <div class="bounce1 bg-guest"></div>
            <div class="bounce2 bg-guest"></div>
            <div class="bounce3 bg-guest"></div>
        </div>
        <div class="custom-message hidden" id="spinner-default">Please wait...</div>
        <div class="custom-message hidden" id="spinner-search">Search in progress</div>
    </div>
    <div class="hidden-xs col-sm-4 col-md-4 col-lg-4"></div>
</div>

    <%=content_for :myscripts do%>
        <script src="/chat_files/account.vip.register.min.js"></script>
        <link rel="stylesheet" href="/chat_files/intlTelInput.min.css" />
        <!--<script src="/chat_files/intlTelInput.min.js"></script>-->

    <%end%>


    
