
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 main-region">
                    




<div class="wrapper">
    <div class="settings-title title bg-woman">
        <span class="icon icon-settings"></span>
        Settings
    </div>
    <div class="content settings-content custom-scrollbar no-pad">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-pad">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <div class="content-heading">
                    <%=render "profilepicture", user: current_user%> 
                </div>
                <div class="content-body settings-account clear">
                    <ul class="list-unstyled list-inline settings-tabs vip">
    <li class="">
        <a href="/Chat/SettingsVIPProfile" title="My profile">
            <span class="icon icon-profile"></span>
            <span class="text">My profile</span>
        </a>
    </li><li class="">
    <a href="/Chat/SettingsDating" title="My research">
        <span class="icon icon-preferences"></span>
        <span class="text">My research</span>
    </a>
    </li><li class="">
        <a href="/Chat/SettingsAlbums" title="My albums">
            <span class="icon icon-albums"></span>
            <span class="text">My albums</span>
        </a>
    </li><li class="">
        <a href="/Chat/SettingsInterests" title="My interests">
            <span class="icon icon-music"></span>
            <span class="text">My interests</span>
        </a>
    </li><li class="active">
        <a href="/Chat/SettingsAccount" title="My account">
            <span class="icon icon-settings"></span>
            <span class="text">My account</span>
        </a>
    </li>
</ul>
                    <%=render 'formsettingsaccount', user: current_user%>
                    <div id="htmlValidation" class="hidden"></div>
                    <div id="viewBagMessage" class="hidden"></div>
                    <div class="row clear">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="label label-danger pointer" id="delete-account">
                                Delete my account
                            </span>
                        </div>
                    </div>
                    <div class="row clear">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="label label-info pointer" id="set-cookie-choices">
                                Cookies - Change my choices
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-5 col-lg-4 no-pad">
                <banner   params="{ page: 'chat', formats: [{ width: 300, height: 600}, { width: 300, height: 250}], time: 12000}"></banner>
            </div>
        </div>
    </div>
</div>




                </div>
<%=content_for :mystyle do%>
background-color: #F59B00;
<%end%>
<%=content_for :somescript do%>

<%if !current_user.errors[:dateofbirth].blank? %>
$(".swal2-content").html("The date of birth is incorrect.");
$('.swal2-icon').hide();


$('.swal2-error').show();
$('.swal2-container').children().show();

<%elsif !current_user.errors[:password].blank? %>
$(".swal2-content").html("The password must contain between 6 and 40 characters and must only contain letters and digits, without spaces, special characters and accents.");
$('.swal2-icon').hide();


$('.swal2-error').show();
$('.swal2-container').children().show();

<%elsif @noerror%>
function myrating2(){
$(newinformation).toggleClass("show");
}
function myrating(){
$(newinformation).toggleClass("show");

 setTimeout(myrating2, 5000);
}

function myTimeout(){
 setTimeout(myrating, 5000);
}

myrating();
<%end%>
<%end%>