
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 main-region">
                    




<div class="wrapper">
    <div class="settings-title title bg-woman">
        <span class="icon icon-settings"></span>
        Settings
    </div>
    <div class="content settings-content custom-scrollbar no-pad">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-pad">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <div class="content-heading">
                    <%=render "profilepicture", user: current_user%> 
                </div>
                <div class="content-body clear">
                    <ul class="list-unstyled list-inline settings-tabs vip">
    <li class="">
        <a href="/Chat/SettingsVIPProfile" title="My profile">
            <span class="icon icon-profile"></span>
            <span class="text">My profile</span>
        </a>
    </li><li class="">
    <a href="/Chat/SettingsDating" title="My research">
        <span class="icon icon-preferences"></span>
        <span class="text">My research</span>
    </a>
    </li><li class="active">
        <a href="/Chat/SettingsAlbums" title="My albums">
            <span class="icon icon-albums"></span>
            <span class="text">My albums</span>
        </a>
    </li><li class="">
        <a href="/Chat/SettingsInterests" title="My interests">
            <span class="icon icon-music"></span>
            <span class="text">My interests</span>
        </a>
    </li><li class="">
        <a href="/Chat/SettingsAccount" title="My account">
            <span class="icon icon-settings"></span>
            <span class="text">My account</span>
        </a>
    </li>
</ul>
<%=render "myalbums"%>
                    <div class="stretch">
                    </div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-5 col-lg-4 no-pad">
            </div>
        </div>
    </div>
</div>




                </div>
            <%=content_for :somescript do%>



function deleteMedia(){
}
function switchStatusMedia(){
}
function defineAsProfilePicture(){
}



    function addPublicMedia(url,input){

        var fd = new FormData();
        var files = $(input)[0].files;
        
        // Check file selected or not
        if(files.length > 0 ){
           fd.append('userpic',files[0]);

           $.ajax({
              url: '/'+url,
              type: 'post',
              data: fd,
              contentType: false,
              processData: false,
              success: function(response){
                 if(response != "0"){
                    window.location.reload();
                    //$("[data-bind=\"foreach: publicPhotos\"]").html(""); 
                 }else{
                    alert('file not uploaded');
                 }
              },
           });
        }else{
           alert("Please select a file.");
        }
    };
    function addPrivateMedia(url,input){

        var fd = new FormData();
        var files = $(input)[0].files;
        
        // Check file selected or not
        if(files.length > 0 ){
           fd.append('userpic',files[0]);

           $.ajax({
              url: '/'+url,
              type: 'post',
              data: fd,
              contentType: false,
              processData: false,
              success: function(response){
                 if(response != "0"){
                    window.location.reload();
                    //$("[data-bind=\"foreach: privatePhotos\"]").html(""); 
                 }else{
                    alert('file not uploaded');
                 }
              },
           });
        }else{
           alert("Please select a file.");
        }
    };
    $("#public-picture-upload").change(function(){
addPublicMedia("addpublic","#public-picture-upload");
});
    $("#private-picture-upload").change(function(){
addPrivateMedia("addprivate", "#private-picture-upload");
});




            
function selectPublicPicture(j){
var url=j.style.backgroundImage.replace("url(\"", "").replace("\")","").replace("%22","").replace("//","/");
var id=j.dataset.id;
$("[data-bind=\"with: selectedPublicPicture\"]").removeClass('hidden');
$("[data-bind=\"click: $parent.unselectPublicPicture, scrollTo: { container: '.content', element: '#slider-public-pictures', duration: 200 }\"]").children()[1].src=url;
$("[data-bind=\"click: $parent.unselectPublicPicture, scrollTo: { container: '.content', element: '#slider-public-pictures', duration: 200 }\"]").children()[1].dataset.id=id;
$('.publicmediaoptions').children().show();

}
function selectPrivatePicture(j){
var id=j.dataset.id;

var url=j.style.backgroundImage.replace("url(\"", "").replace("\")","").replace("%22","").replace("//","/");
$("[data-bind=\"with: selectedPrivatePicture\"]").removeClass('hidden');
$("[data-bind=\"click: $parent.unselectPrivatePicture, scrollTo: { container: '.content', element: '#slider-private-pictures', duration: 200 }\"]").children()[1].src=url;
$("[data-bind=\"click: $parent.unselectPrivatePicture, scrollTo: { container: '.content', element: '#slider-private-pictures', duration: 200 }\"]").children()[1].dataset.id=id;
$('.privatemediaoptions').children().show();
}
$("[data-bind=\"style: { 'background-image': $parent.getBackgroundStyledPictureUrl(url) }, click: $parent.selectPublicPicture\"]").click(function(){
selectPublicPicture($(this)[0]);
});
$("[data-bind=\"style: { 'background-image': $parent.getBackgroundStyledPictureUrl(url) }, click: $parent.selectPrivatePicture\"]").click(function(){
selectPrivatePicture($(this)[0]);
});
function selectToDelete(j){
if (j.className.includes('privatephoto')) {
selectPrivatePicture(j.parentElement.parentElement.children[0]);
$('.privatemediaoptions').children().hide();
$('.privatemediaoptions').children().last().show();

} else {
selectPublicPicture(j.parentElement.parentElement.children[0]);
$('.publicmediaoptions').children().hide();
$('.publicmediaoptions').children().last().show();

}
};
$("[data-bind=\"click: $parent.selectToDelete\"]").click(function(){
selectToDelete($(this)[0]);
});
function defineAsProfilePicture(e){
var parent=e.target.parentElement.parentElement.parentElement.children[0].children[0].children[1];

var uri=parent.src.replace("http://localhost:3000/assets/","");
$.ajax({url: '/profilepic',
data:{url: uri, id: parent.dataset.id},
type: 'post',
success:function(data){
if (data !== "0") {
window.location.reload()
} else {
alert('il y a eu un problème lors de cette operation');
}
}
});

}
function switchStatusMedia(e){
var parent=e.target.parentElement.parentElement.parentElement.children[0].children[0].children[1];
var uri=parent.src.replace("http://localhost:3000/assets/","");
$.ajax({url: '/moveotheralbum',
data:{url: uri, id: parent.dataset.id},
type: 'post',
success:function(data){
if (data !== "0") {
window.location.reload()
} else {
alert('il y a eu un problème lors de cette operation');
}
}
});
}
function deleteMedia(e){
var parent=e.target.parentElement.parentElement.parentElement.children[0].children[0].children[1];
var uri=parent.src.replace("http://localhost:3000/assets/","");
$.ajax({url: '/deletephoto',
data:{url: uri, id: parent.dataset.id},
type: 'post',
success:function(data){
if (data !== "0") {
window.location.reload()
} else {
alert('il y a eu un problème lors de cette operation');
}
}
});
}

$("[data-bind=\"click: $parent.defineAsProfilePicture\"]").click(defineAsProfilePicture);
$("[data-bind=\"click: $parent.switchStatusMedia\"]").click(switchStatusMedia);
$("[data-bind=\"click: $parent.deleteMedia\"]").click(deleteMedia);
function showMoreInfoPrivateAlbum(){
$(".swal2-content").html("<p class=\"swal-album-infos\"><span>Who can view it?</span> Only you. <span>How to share my private photos?</span> On chat screen, click on the \"Attach an Image\" icon and select the picture to send.</p>");
$('.swal2-icon').hide();
$('.swal2-modal > h2').html('Private album');
$('.swal2-container').children().show();

}
function showMoreInfoPublicAlbum(){
$(".swal2-content").html("<p class=\"swal-album-infos\"><span>Who can view it?</span> Everybody can view it.</p>");
$('.swal2-icon').hide();
$('.swal2-modal > h2').html('Public album');
$('.swal2-container').children().show();

}
$('.text-vip.bold:nth(0)').click(showMoreInfoPublicAlbum);
$('.text-vip.bold:nth(1)').click(showMoreInfoPrivateAlbum);
<%end%>