
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 main-region">
                    




<div class="wrapper">
    <div class="settings-title title bg-woman">
        <span class="icon icon-settings"></span>
        Settings
    </div>
    <div class="content settings-content custom-scrollbar no-pad">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-pad">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <div class="content-heading">
                    <%=render "profilepicture", user: current_user%>

                </div>
                <div class="content-body clear">
                    <ul class="list-unstyled list-inline settings-tabs vip">
    <li class="">
        <a href="/Chat/SettingsVIPProfile" title="My profile">
            <span class="icon icon-profile"></span>
            <span class="text">My profile</span>
        </a>
    </li><li class="">
    <a href="/Chat/SettingsDating" title="My research">
        <span class="icon icon-preferences"></span>
        <span class="text">My research</span>
    </a>
    </li><li class="">
        <a href="/Chat/SettingsAlbums" title="My albums">
            <span class="icon icon-albums"></span>
            <span class="text">My albums</span>
        </a>
    </li><li class="active">
        <a href="/Chat/SettingsInterests" title="My interests">
            <span class="icon icon-music"></span>
            <span class="text">My interests</span>
        </a>
    </li><li class="">
        <a href="/Chat/SettingsAccount" title="My account">
            <span class="icon icon-settings"></span>
            <span class="text">My account</span>
        </a>
    </li>
</ul>
                    <%=render 'formsettingsinterests', user: current_user%>
                    <div id="viewBagMessage" class="hidden"></div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-5 col-lg-4 no-pad">
            </div>
        </div>
    </div>
</div>




                </div>