

<!DOCTYPE html>
<html lang="en" class="no-scroll ">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4273856-65"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-4273856-65', { 'send_page_view': false });
    </script>
        <!-- Begin Next Millennium -->
        <script async src="https://powerad.ai/135735794604525/script.js"></script>
        <!-- End Next Millennium -->

        <script src="//adv.123multimedia.com/AdConfig.aspx"></script>

        <script type="text/javascript" src="https://cache.consentframework.com/js/pa/26434/c/PTz3C/stub" charset="utf-8"></script>
            <script>
                window.Sddan = {
                    "info": {
                        "hd_m": "BCC2113EDE5A3BD7CF6BB0173EF3A71F",
                        "hd_s256": "9BDE7C3B683638D7D621F2A930BD3EF6228E31891A577C5DC6651AEA65CF57A9",
                        "uf_postal_code": "CA",
                        "uf_bday": "1990-01-01",
                        "uf_gender": "2",
                    }
                };
            </script>
        <script type="text/javascript" src="https://choices.consentframework.com/js/pa/26434/c/PTz3C/cmp" charset="utf-8" async></script>

    
    <title>Chat TraceTV - Welcome to chat</title>
    
    <meta itemprop="description" name="description" content="" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="no-transform">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

        <link rel="stylesheet" href="/chat_files/common.min.css" />
        <link rel="stylesheet" href="/chat_files/theme.min.css" />
    
    
    <link rel="stylesheet" href="/chat_files/jquery.nstSlider.min.css" />
    <link rel="stylesheet" href="/chat_files/select2.min.css" />
</head>
<body class="no-scroll chat-body">
    
    

    

    

    

    

    

    <img id="flag" src="/Content/Common/Images/ImagesEnabled.png" alt="">

    
        <ins data-zone="235731" class="byadthink"></ins>
        <script type="text/javascript" async src="//ad.adxcore.com/adjs_r.php?async&what=zone:235731&inf=no"></script>

    <div class="container chat">
        
        
        
    
<div class="header connected-header row">
    <div class="hidden-xs col-sm-2 col-md-3 col-lg-3 logo-container">
        <span class="icon-logo fs-6x"></span>
        
    </div>
    <div class="col-xs-12 col-sm-10 col-md-9 col-lg-9 header-advert">
        <div class="stretch" data-bind="if: isNotInDynamicContentPage, css: { 'hidden': isInDynamicContentPage }">
            <banner   params="{ page: 'chat', formats: [{ width: 970, height: 90}, { width: 728, height: 90}], time: 12000}"></banner>
        </div>
        <div class="stretch" data-bind="if: isInDynamicContentPage, css: { 'hidden': isNotInDynamicContentPage }">
<banner   params="{ page: 'modal', formats: [{ width: 728, height: 90}], time: 12000}"></banner>        </div>
    </div>
</div>

  <%=yield%>
    <div class="stretch-width" data-bind="component: { name: 'messaging', params: { event: event } }"></div>
    
<style>
    .swal2-input::-webkit-input-placeholder {
        color: #000 !important;
        opacity: 1 !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }
</style>
<div class="feedbackMessages hidden">
    <span id="globalError">Error</span>
    <span id="welcomeUser">Welcome {0}!<br/>You're connected to the chat.</span>
    <span id="welcomeUserPseudo">Welcome! <br /> You are now connected on the chat with the pseudo {0}.</span>
    <span id="noResult">No online user matching your criteria.<br/>Changes them and launched a new search.</span>
    <span id="registerLink">Register</span>
    <span id="cancel">No thanks</span>
    <span id="publicAlbumInfosTitle">Public album</span>
    <span id="publicAlbumInfos"><span>Who can view it?</span> Everybody can view it.</span>
    <span id="privateAlbumInfosTitle">Private album</span>
    <span id="privateAlbumInfos"><span>Who can view it?</span> Only you. <span>How to share my private photos?</span> On chat screen, click on the "Attach an Image" icon and select the picture to send.</span>
    <span id="ratingSuccess">Thanks for your vote.</span>
    <span id="positiveFeedback">Request taken into account.</span>
    <span id="settingsAlbumsPicture">Your picture's validation is in progress</span>
    <span id="settingsAlbumsVideo">Your video is awaiting moderation</span>
    <span id="settingsPendingProfilePicture">Your profile picture will be published in a few minutes</span>
    <span id="feedBackProfilePicture">Your new photo is awaiting moderation</span>
    <span id="warning">Warning</span>
    <span id="geolocationWarning">Please share your location to see users nearby! </span>
    <span id="tip">Tip</span>
    <span id="geolocationTip">Choose "Always share my location" to see connected near you.</span>
    <span id="accountDeletionConsequences">If you delete your account, your data and username will be deleted permanently and irreversibly.</span>
    <span id="accountDeletionConfirmation">Are you sure you want to delete your account?</span>
    <span id="yes">Yes</span>
    <span id="no">No</span>
    <span id="fakeProfilesWarning"><b>Anti-Fake Profiles</b><br/>Use the "report abuse" button. <img src="/Content/Common/Images/ReportAbuse.png" alt="Report Abuse" /></span>
    <span id="facebookLoginIssue">Facebook login issue; try again please…</span>
    <span id="guestEntranceNotification">The nickname 'Guest' is automatically assiged to you in Free Access mode. If you would like to personalize your nickname, please register as a full member using the button below. The process is quick, free and comes full of benefits.</span>
    <span id="guestEntranceNotificationGuestOnly">A nickname 'Guest' is now automatically assigned in Free Access mode.</span>
    <span id="guestNameNotificationForVIP">Only members have a personalized nickname. Nicknames starting with 'Guest' are connected via guest login.</span>
    <span id="reportAbuseProfile">Do you want to report this profile to moderation team?</span>
    <span id="reportAbuseMedia">Do you want to report this media to moderation teams?</span>
    <span id="profilePictureNotValidated1">Your profile photo is not validated because it does not respect the rules of our editorial guidelines.</span>
    <span id="profilePictureNotValidated2">Click here to see our editorial guidelines.</span>
    <span id="featureReservedForVIP">This feature is reserved for members.</span>
    <span id="profileDeactivated">To continue chatting, you must activate your account by clicking on the link received by email.</span>
    <span id="today">today</span>
    <span id="yesterday">yesterday</span>
    <span id="thisWeek">this week</span>
    <span id="thisMonth">this month</span>
    <span id="recently">recently</span>
    <span id="chatOfflineFeedback">Your message has been sent. This user is offline; he will see your messages on next login.</span>
    <span id="reportAbuseOnMessageFeedback">Your report has been taken into account. This user is now blocked and added to your blacklist.</span>
    <span id="fileTypeNotSupported">File type not supported</span>
    <span id="activationNotification">Welcome on the chat!<br />
You'll receive a registration email.<br />
Click on the link to stay logged in and validate your account.</span>
    <span id="cmpMessage3">By opting out of receiving targeted ads, we can only provide a limited service.<br />
To get the full, free version, simply click the <i>"Accept All and Continue"</i> <a href="javascript:void(0);" onclick="window.Sddan.cmp.displayUI();">on this screen</a>.<br />
If you do not wish to accept targeted ads, <a href="https://tchatche.club/">click here</a>.</span>
    <span id="userBlacklisted">This user is now blocked. He will soon disappear from the connected users list. Warning: this action is irreversible.</span>
    <span id="phoneNumberShareNotification1">Be careful before sharing your phone number!</span>
    <span id="phoneNumberShareNotification2">Got it.</span>
    <span id="sendCredentialsMailError">Please enter a valid email address</span>

    
    <span id="promoPremiumPackClickHere">Click here!</span>
    <div id="promoPremiumPack">
        <div class="new">New</div>
        <div class="content">
            <span class="h4 text-man">Subscribe now to</span>
            <span class="h1 text-woman">pack premium</span>
            <span class="h4 text-man">on the app<br />(Available on Google Play and App Store)</span>
            <span class="infos">and enjoy exclusive benefits</span>
            <div class="advantages">
                <div class="advantage" id="advantage1">
                    <span class="ico"></span>
                    <span class="text">Call other connected <span class="text-man bold">preserving your anonymity</span></span>
                </div>
                <div class="advantage" id="advantage2">
                    <span class="ico"></span>
                    <span class="text">Receive <span class="text-man bold">delivery and read receipt</span> of your messages</span>
                </div>
                <div class="clear"></div>
                <div class="advantage" id="advantage3">
                    <span class="ico"></span>
                    <span class="text">Make your <span class="text-man bold">messages priority</span></span>
                </div>
                <div class="advantage" id="advantage4">
                    <span class="ico"></span>
                    <span class="text">No more <span class="text-man bold">advertising</span></span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    

    
    
    
    >
    

    
    <span id="activationMailSent">Your account activation email has just been sent to you.</span>
    <span id="emailUpdated">Your email is modified.</span>
    

    
    <div id="mailNotValid">
        <div class="content">
            <center><img src="/Content/Common/Images/ActivationIncentive/Activation.png" /></center>
            <span class="h4 text-woman">
                <br />
                Confirm your email.
                <br />
            </span>
            <span class="infos">
                To continue chatting, you must activate your account by clicking on the link received by email at this address: ACT-REMINDERanonyme201504@gmail.com.
                <br /><br />
                Checks in spam folder in your mailbox.
                <br /><br />
                Sorry, but you'll be disconnected.
                    <br /><br />
                    <a href="javascript:void(0);" onclick="SendActivationMail();">
                        Click here to receive the activation email again
                        on: ACT-REMINDERanonyme201504@gmail.com
                    </a>
            </span>
        </div>
    </div>
    

    
    <span id="limitedAccessGranted">This access is limited but you will enter the chat room. Otherwise, you should have used the always unlimited and free member access.</span>
    <span id="limitedAccessRefused">This access is limited and there is no more room, sorry. Choose <a href="/account/register">member</a> access to chat immediately. It is unlimited and free.</span>
    

    
        <span id="googleRecaptchaTokenMissing">Please check the security code</span>
</div>



    
<script type="text/html" id="chatter-info-template">
    <div class="chatter-info-template" data-bind="template : { name : templateName }"></div>
</script>

<script type="text/html" id="default-chatter-info-template">
    <div class="chatter-infos-container fix-height" data-bind="css:{ 'man': chatter.isAMan, 'woman': chatter.isAWoman }">
        <div class="pull-left chatter-picture" data-bind="if: chatter.hasProfilePicture">
            <div class="chatter-picture-template" data-bind="template : { name : pictureTemplate }"></div>
        </div>
        <div class="pull-left chatter-picture" data-bind="if: !chatter.hasProfilePicture">
            <div class="avatar-container" data-bind="css: { 'avatar-man': chatter.isAMan, 'avatar-woman': chatter.isAWoman }">
                
                <div class="online">
                    <span class="icon icon-online" data-bind="css: { 'online': chatter.isConnected, 'offline': chatter.isDisconnected }"></span>
                </div>
            </div>
        </div>
        <div class="chatter-infos">
            <span class="chatter-name" data-bind="text: chatter.name"></span>
            <div class="infos">
                <div class="row-infos age">
                    <span data-bind="if: chatter.isAMan">
                        Man,
                    </span>
                    <span data-bind="if: chatter.isAWoman">
                        Woman,
                    </span>
                    <span data-bind="text: chatter.age"></span> years old
                </div>
                <div class="row-infos">
                    <span data-bind="text: chatter.country"></span>
                    <span data-bind="text: chatter.htmlSubdivision"></span>
                </div>
                <div class="infos-row">
                    <span data-bind="if: chatter.vip">
                        <span class="icon icon-vip"></span>
                    </span>
                    <span data-bind="if: chatter.isLookingForMan">
                        <span class="icon icon-man text-man" title="Looking for a man"></span>
                    </span>
                    <span data-bind="if: chatter.isLookingForWoman">
                        <span class="icon icon-woman text-woman" title="Looking for a woman"></span>
                    </span>
                    <span data-bind="if: chatter.isLookingForBoth">
                        <span class="icon icon-couple text-man-woman" title="Looking for a man or woman"></span>
                    </span>
                    <span data-bind="if: chatter.vip && chatter.isLookingForUnknown">
                        <span class="icon icon-spacer"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="chatter-picture-profile-template">
    <div class="picture-container" data-bind="click: showProfilePicture">
        <div class="picture stretch" data-bind="style: { 'background-image': getBackgroundStyledPictureUrl }"></div>
        <div class="online">
            <span class="icon icon-online" data-bind="css: { 'online': chatter.isConnected, 'offline': chatter.isDisconnected }"></span>
        </div>
    </div>
</script>

<script type="text/html" id="chatter-picture-default-template">
    <div class="picture-container">
        <div class="picture stretch" data-bind="style: { 'background-image': getBackgroundStyledPictureUrl }"></div>
        <div class="online">
            <span class="icon icon-online" data-bind="css: { 'online': chatter.isConnected, 'offline': chatter.isDisconnected }"></span>
        </div>
    </div>
</script>

<script type="text/html" id="conversation-chatter-info-template">
    <div class="conversation-chatter-info stretch">
        <div class="pull-left chatter-picture" data-bind="if: chatter.hasProfilePicture">
            <div class="chatter-picture-template" data-bind="template : { name : pictureTemplate }"></div>
        </div>
        <div class="pull-left chatter-picture" data-bind="if: !chatter.hasProfilePicture">
            <div class="avatar-container" data-bind="css: { 'avatar-man': chatter.isAMan, 'avatar-woman': chatter.isAWoman }">
                
                <div class="online">
                    <span class="icon icon-online" data-bind="css: { 'online': chatter.isConnected, 'offline': chatter.isDisconnected }"></span>
                </div>
            </div>
        </div>
        <div class="chatter-infos">
            <span class="chatter-name ellipsis" data-bind="text: chatter.name"></span>
            <span class="hidden" data-bind="if: chatter.vip, css: { 'display-i': chatter.vip}">
                &nbsp;
                <span class="icon icon-vip"></span>
            </span>
            <div class="infos">
                <div class="row-infos age">
                    <span data-bind="text: chatter.age"></span> years old
                </div>
                <div class="row-infos">
                    <span data-bind="text: chatter.country"></span>
                    <span data-bind="text: chatter.htmlSubdivision"></span>
                </div>
            </div>
        </div>
    </div>
</script>
    
<script type="text/html" id="media-template">
    <div class="media-template" data-bind="template : { name : templateName }"></div>
</script>

<script type="text/html" id="medias-profile-template">
    <div data-bind="if: hasPublicPhotos">
        <div class="form-group">
            <h4 class="text-vip bold">Photos</h4>
            <div class="slider-container" id="profile-slider-pictures" data-bind="customSlider: { 'duration': 250, 'nbSlides': 1 }">
                <div class="slider-wrapper">
                    <ul class="list-unstyled list-inline slider hidden" data-bind="foreach: publicPhotos">
                        <li class="slide profile-media">
                            <div class="stretch item" data-bind="style: { 'background-image': $parent.getBackgroundStyledPictureUrl(url) }, click: $parent.selectPublicPicture"></div>
                        </li>
                    </ul>
                </div>
                <div class="prev slider-btn hidden">
                    <span class="icon-circle-left"></span>
                </div>
                <div class="next slider-btn hidden">
                    <span class="icon-circle-right"></span>
                </div>
            </div>
        </div>
        <div data-bind="with: selectedPublicPicture, click: unselectPublicPicture">
            <div class="zoom-media zoom-picture" data-bind="scrollTo: { container: '.content', element: '#profile-slider-pictures', duration: 200 }">
                <span class="icon icon-close"></span>
                <span class="icon icon-report-abuse" data-bind="click: $parent.reportAbuseOnMedia, clickBubble: false" title="Report an abuse"></span>
                <img data-bind="attr: { 'src': url }" class="img-responsive"/>
            </div>
        </div>
    </div>

    <div data-bind="if: hasPublicVideos">
        <div class="form-group">
            <h4 class="text-vip bold">Videos</h4>
            <div class="slider-container" id="profile-slider-videos" data-bind="customSlider: { 'duration': 250, 'nbSlides': 1 }">
                <div class="slider-wrapper">
                    <ul class="list-unstyled list-inline slider hidden" data-bind="foreach: publicVideos">
                        <li class="slide profile-media">
                            <div class="stretch item" data-bind="style: { 'background-image': $parent.getBackgroundStyledPictureUrl(urlPreview) }"></div>
                            <div class="stretch" data-bind="click: $parent.selectPublicVideo">
                                <div class="overlay stretch"></div>
                                <span class="icon icon-next"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="prev slider-btn hidden">
                    <span class="icon-circle-left"></span>
                </div>
                <div class="next slider-btn hidden">
                    <span class="icon-circle-right"></span>
                </div>
            </div>
        </div>
        <div data-bind="with: selectedPublicVideo">
            <div class="zoom-media zoom-video" data-bind="scrollTo: { container: '.content', element: '#profile-slider-videos', duration: 200 }">
                <span class="icon icon-close pointer" data-bind="click: $parent.unselectPublicVideo"></span>
                <span class="icon icon-report-abuse pointer" data-bind="click: $parent.reportAbuseOnMedia, clickBubble: false" title="Report an abuse"></span>
                <video class="pointer" controls="controls" type="video/mp4" data-bind="attr: { 'src': urlMP4 }"></video>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="medias-to-send-conversation-template">
    <div data-bind="if: hasPhotos">
        <div class="form-group">
            <ul class="list-unstyled list-inline" data-bind="foreach: photos">
                <li class="conversation-medias-to-send" data-bind="style: { 'background-image': $parent.getBackgroundStyledPictureUrl(url) }, click: $parent.selectMedia"></li>
            </ul>
        </div>
    </div>
    <div data-bind="if: hasVideos">
        <div class="form-group">
            <ul class="list-unstyled list-inline" data-bind="foreach: videos">
                <li class="conversation-medias-to-send" data-bind="style: { 'background-image': $parent.getBackgroundStyledPictureUrl(urlPreview) }, click: $parent.selectMedia">
                    <div class="overlay stretch"></div>
                    <span class="icon icon-next"></span>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/html" id="medias-conversation-template">
    <div id="medias-conversation-carousel" class="carousel slide stretch" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner stretch" role="listbox" data-bind="foreach: publicPhotos">
            <div class="item stretch" data-bind="css: { 'active' : $parent.isActive($index()) }">
                <img data-bind="attr: { 'src': url }"/>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#medias-conversation-carousel" role="button" data-slide="prev" data-bind="visible: navigationIsVisible">
            <span class="icon-circle-left text-guest" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#medias-conversation-carousel" role="button" data-slide="next" data-bind="visible: navigationIsVisible">
            <span class="icon-circle-right text-guest" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</script>

<script type="text/html" id="medias-settings-albums-template">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="text-vip bold">Public <span class="infos text-guest" data-bind="click: showMoreInfoPublicAlbum">i</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group pictures">
                
                <div class="pull-right" data-bind="event: { change: addPublicMedia }">
                    <input type="file" name="media" id="public-picture-upload" class="custom-inputfile">
                    <label for="public-picture-upload" class="bg-guest">
                        <span>+ </span>
                        <span>Add</span>
                    </label>
                </div>
                <div data-bind="if: hasPublicPhotos">
                    <div class="slider-container" data-bind="customSlider: { 'duration': 250, 'nbSlides': 1 }">
                        <div class="slider-wrapper" id="slider-public-pictures">
                            <ul class="list-unstyled list-inline slider hidden" data-bind="foreach: publicPhotos">
                                <li class="slide profile-media">
                                    <div class="stretch item" data-bind="style: { 'background-image': $parent.getBackgroundStyledPictureUrl(url) }, click: $parent.selectPublicPicture"></div>
                                    <div class="direct-delete">
                                        <span class="ns-close"></span>
                                        <span class="label label-danger" data-bind="click: $parent.selectToDelete">Delete</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="prev slider-btn hidden">
                            <span class="icon-circle-left"></span>
                        </div>
                        <div class="next slider-btn hidden">
                            <span class="icon-circle-right"></span>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="with: selectedPublicPicture">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="zoom-media zoom-picture" data-bind="click: $parent.unselectPublicPicture, scrollTo: { container: '.content', element: '#slider-public-pictures', duration: 200 }">
                            <span class="icon icon-close"></span>
                            <img data-bind="attr: { 'src': url }" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="media-options">
                            <span class="label label-info" data-bind="click: $parent.defineAsProfilePicture">Set as profile picture</span>
                            <span class="label label-info" data-bind="click: $parent.switchStatusMedia">Move in the private album</span>
                            <span class="label label-danger" data-bind="click: $parent.deleteMedia">Delete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="text-vip bold">Private <span class="infos text-guest" data-bind="click: showMoreInfoPrivateAlbum">i</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group pictures">
                
                <div class="pull-right" data-bind="event: { change: addPrivateMedia }">
                    <input type="file" name="media" id="private-picture-upload" class="custom-inputfile">
                    <label for="private-picture-upload" class="bg-guest">
                        <span>+ </span>
                        <span>Add</span>
                    </label>
                </div>
                <div data-bind="if: hasPrivatePhotos">
                    <div class="slider-container" id="slider-private-pictures" data-bind="customSlider: { 'duration': 250, 'nbSlides': 1 }">
                        <div class="slider-wrapper">
                            <ul class="list-unstyled list-inline slider hidden" data-bind="foreach: privatePhotos">
                                <li class="slide profile-media">
                                    <div class="stretch item" data-bind="style: { 'background-image': $parent.getBackgroundStyledPictureUrl(url) }, click: $parent.selectPrivatePicture"></div>
                                    <div class="direct-delete">
                                        <span class="ns-close"></span>
                                        <span class="label label-danger" data-bind="click: $parent.selectToDelete">Delete</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="prev slider-btn hidden">
                            <span class="icon-circle-left"></span>
                        </div>
                        <div class="next slider-btn hidden">
                            <span class="icon-circle-right"></span>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="with: selectedPrivatePicture">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="zoom-media zoom-picture" data-bind="click: $parent.unselectPrivatePicture, scrollTo: { container: '.content', element: '#slider-private-pictures', duration: 200 }">
                            <span class="icon icon-close"></span>
                            <img data-bind="attr: { 'src': url }" class="img-responsive" />
                            <div class="text-center" data-bind="if: $parent.profilePictureUploadSuccess">
                                <span class="label label-success">Your profile picture will be published in a few minutes</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="media-options">
                            <span class="label label-info" data-bind="click: $parent.defineAsProfilePicture">Set as profile picture</span>
                            <span class="label label-info" data-bind="click: $parent.switchStatusMedia">Move in the public album</span>
                            <span class="label label-danger" data-bind="click: $parent.deleteMedia">Delete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</script>
    
<script type="text/html" id="message-counter-template">
    <div class="message-counter-container pointer">
        <a href="/Chat/newinterlocutors" data-bind="click: messageCounterClicked">
            <div class="message-counter bg-vip stretch-height">
                <div class="padding">
                    <span class="icon icon-new-message fs-2x pull-left"></span>
                    <span class="text text-center">
                        <span class="bold hidden-sm hidden-md">new</span>
                        <span>messages</span>
                    </span>
                </div>
                <div class="pull-right message-count bold" data-bind="text: messageCount, blinking: messageCount"></div>
            </div>
        </a>
    </div>
</script>


<script type="text/html" id="banner-template">
        <object data-bind="attr: { data: bannerUrl }, banner: { formats: formats, format: format }"></object>
</script>
<!-- False -->        <script type="text/html" id="messaging-template">
    <div data-bind="with: message">
        <div class="notification notification-genie bg-guest" data-bind="message: $data, click: $parent.clearMessage">
            <span class="ns-close" data-bind="click: $parent.clearMessage"></span>
            <div class="notification-message">
                <span data-bind="text: text"></span>
            </div>
        </div>
    </div>
</script>

    <div class="overlay"></div>
<div class="row" id="spinner">
    <div class="hidden-xs col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 spinner">
        <span class="icon-logo fs-10x"></span>
        <div class="balls">
            <div class="bounce1 bg-guest"></div>
            <div class="bounce2 bg-guest"></div>
            <div class="bounce3 bg-guest"></div>
        </div>
        <div class="custom-message hidden" id="spinner-default">Please wait...</div>
        <div class="custom-message hidden" id="spinner-search">Search in progress</div>
    </div>
    <div class="hidden-xs col-sm-4 col-md-4 col-lg-4"></div>
</div>

    
    
<div class="footer connected-footer clear">
    <div class="footer-navbar navbar-bottom" role="navigation">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg no-pad">
            <div class="message-counter-wrapper" data-bind="if: componentXSIsVisible, visibleIfMobile">
                <div data-bind="component: { name: 'messagecounter', params: { event : event, descriptor: descriptor } }"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                <ul class="list-unstyled list-inline chat-navigation">
                    <li class="hidden-sm hidden-md hidden-lg" data-bind="css: { 'active': isInHomeRegion }">
                        <a href="/Chat/home" title="Home">
                            <span class="icon icon-home"></span>
                            <span class="text">Home</span>
                        </a>
                    </li>
                    <li data-bind="css: { 'active': isInSearchRegion }">
                        <a href="/Chat/search" title="Search">
                            <span class="icon icon-search"></span>
                            <span class="text">Search</span>
                        </a>
                    </li>
                    <li data-bind="css: { 'active': isInMapRegion }">
                        
                            <a href="/Chat/map" title="Map">
                                <span class="icon icon-map"></span>
                                <span class="text">Map</span>
                            </a>
                    </li>
                    <li>
                        <a href="/Chat/Conversations" title="Conversations">
                            <span class="icon icon-conversations"></span>
                            <span class="text">Conversations</span>
                        </a>
                    </li>
                        <li>
                            <a href="/Chat/Favorites?index=1" title="Contacts">
                                <span class="icon icon-favorites"></span>
                                <span class="text">Contacts</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Chat/SettingsVIPProfile" title="Settings">
                                <span class="icon icon-settings"></span>
                                <span class="text">Settings</span>
                            </a>
                        </li>
                                        <li>
                        <form action="/Chat/Logout" method="post">
                            <a title="Disconnect">
                                <label for="logout" class="pointer">
                                    <span class="icon icon-quit"></span>
                                    <span class="text">Disconnect</span>
                                </label>
                                <input id="logout" type="submit" value="logout" class="hidden" />
                                <input type="hidden" id="IsGops" name="IsGops" value="false" />
                                <input type="hidden" id="WantsToRegister" name="WantsToRegister" value="false" />
                            </a>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="hidden-xs col-sm-8 col-md-8 col-lg-7">
                <div data-bind="if: isNotInDynamicContentPage, css: { 'hidden': isInDynamicContentPage }">
                    <banner   params="{ page: 'chat', formats: [{ width: 728, height: 90}], time: 12000}"></banner>
                </div>
                <div class="stretch" data-bind="if: isInDynamicContentPage, css: { 'hidden': isNotInDynamicContentPage }">
                    <banner   params="{ page: 'modal', formats: [{ width: 728, height: 90}], time: 12000}"></banner>
                </div>
            </div>
        </div>
    </div>
</div>

    

        <div class="hidden-xs contact-link">
                <div class="contact-link-bg bg-guest"></div>
            <div class="wrapper-contact-link">
                <a href="/Home/Contact" title="Contact customer care service">
                    <span>?</span>
                </a>
            </div>
        </div>

    <script>
        document.domain = document.domain;
    </script>
    
    <script src="/chat_files/jquery.min.js"></script>
    
    <script src="/chat_files/jquery.visible.min.js"></script>
    <script>
        if (typeof jQuery == 'undefined') {
            document.write('<script src="/chat_files/jquery.min.js">\x3C/script>');
            document.write('<script src="/chat_files/jquery.visible.min.js">\x3C/script>');
        }
    </script>
    
    <script src="/chat_files/knockout.min.js"></script>

    <script>
        if (typeof ko == 'undefined') {
            document.write('<script src="/chat_files/knockout-min.js">\x3C/script>');
        }
    </script>
    
    <script src="/chat_files/knockout.validation.min.js"></script>
    <script>
        if (typeof ko.validation == 'undefined') {
            document.write('<script src="/chat_files/knockout.validation.min.js">\x3C/script>');
        }
    </script>
    
    <script src="/chat_files/moment-with-locales.min.js"></script>
    <script>
        if (typeof moment == 'undefined') {
            document.write('<script src="/chat_files/moment-with-locales.min.js">\x3C/script>');
        }
    </script>
    
    <script src="/chat_files/director.min.js"></script>
    <script>
        if (typeof Router == 'undefined') {
            document.write('<script src="/chat_files/director.min.js">\x3C/script>');
        }
    </script>
    
    <script src="/chat_files/pubsub.min.js"></script>
    <script>
        if (typeof PubSub == 'undefined') {
            document.write('<script src="/chat_files/pubsub.min.js">\x3C/script>');
        }
    </script>
    
    <script src="/chat_files/js.cookie.min.js"></script>
    <script>
        if (typeof Cookies == 'undefined') {
            document.write('<script src="/chat_files/js.cookie.min.js">\x3C/script>');
        }
    </script>
    
    
    <script src="/chat_files/sweetalert2.min.js"></script>
    <script>
        if (typeof swal == 'undefined') {
            document.write('<script src="/chat_files/sweetalert2.min.js">\x3C/script>');
        }
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
            <script src="/chat_files/shared.chatlayout.min.js"></script>

    
    
<script src="/chat_files/jquery.nstSlider.min.js"></script>
    <script>
        if (typeof (jQuery.fn['nstSlider']) == 'undefined') {
            document.write('<script src="//raw.githubusercontent.com/cdnjs/cdnjs/master/ajax/libs/jquery-nstslider/1.0.13/jquery.nstSlider.min.js">\x3C/script>');
        }
    </script>
    
<script src="/chat_files/select2.full.min.js"></script>
    <script>
        if (typeof (jQuery.fn['select2']) == 'undefined') {
            document.write('<script src="/chat_files/select2/4.0.3/js/select2.full.min.js">\x3C/script>');
        }
    </script>

        <script src="https://livemap.getwemap.com/js/sdk.min.js"></script>
        <script src="/chat_files/chat.index.min.js"></script>
    
    <script>
        window.configuration.isFromFrance = false;
    </script>


        <script>
            setTimeout(function () {
                if (eval('typeof ShowAdvertising') == 'undefined' || eval('typeof ga') == 'undefined') {
                    //window.location = '/Content/AB/AB.html';
                }
                if (!ga.loaded) {
                    //window.location = '/Content/AB/AB.html';
                }
            }, 4000);

            setTimeout(function () {
                if ((document.getElementById('flag').offsetWidth == 1
                    && document.getElementById('flag').readyState == 'complete')
                    || (document.getElementById('flag').offsetWidth == 1
                        && document.getElementById('flag').readyState == undefined)) {
                    console.log('Images enabled.')
                }
                else {
                    console.log('Images disabled.')
                    ////window.location = '/Content/EnableImages/EnableImages.html';
                }
            }, 2000);
        </script>

        <script>
            window.__tcfapi("addEventListener", 2, function (tcData, success) {
                if (success) {
                    console.log("Listener has been added with ID " + tcData.listenerId);
                    console.log("Event status:" + tcData.eventStatus);

                    __tcfapi("getTCData", 2, function (tcData, success) {
                        if (success) {
                            if (!tcData.gdprApplies) {
                                console.log("GDPR doesn't apply to user");
                            } else {
                                var hasStoreOnDeviceConsent = tcData.purpose.consents[1] || false;
                                var hasGoogleAdvertisingProductsConsent = tcData.vendor.consents[755] || false;
                                //if (!(hasStoreOnDeviceConsent && hasGoogleAdvertisingProductsConsent)) {
                                if (!hasStoreOnDeviceConsent) {
                                    //console.log('CMP refused or partial accept without Google');
                                    console.log('CMP purpose#1 refused');
                                    Cookies.set('CMPStatus', '1', { expires: 1 });
                                    // Tracking
                                    window.analytics.trackEvent('CMPAwarenessMessage', 'CMPAwarenessMessage', 'Shown');
                                    var message = new window.system.Message(window.getFeedbackMessageResource('cmpMessage3'), system.MessageType.Info);
                                    //window.feedBack.showSweetAlert(message, reloadPage);
                                }
                                else {
                                    console.log('CMP accepted');
                                    Cookies.set('CMPStatus', '0', { expires: 1 });;
                                    if (!hasGoogleAdvertisingProductsConsent) {
                                        if (null == Cookies.get('CMPGAEventSent')) {
                                            window.analytics.trackEvent('Advertising', 'Google Ads', 'Refused');
                                            console.log('CMP GA event sent');
                                            Cookies.set('CMPGAEventSent', '0', { expires: 1 });;
                                        }
                                    }
                                }
                            }
                        }
                    });
                }
            });
            function reloadPage() {
                //window.location.reload(false);
            }
        </script>
    
    <!-- NETWS242 -->
</body>

</html>