<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-part emoticons-wrapper shown" data-bind="css: { 'shown': $parent.emoticonsAreVisible }">
                                        <div class="close" onclick="closeeverything(e);return false;" data-bind="click: $parent.hideEmoticons">
                                            <span class="icon icon-close" onclick="closeeverything();return false;"></span>
                                        </div>
                                        <div data-bind="component : { name : 'emoticon', params : { event : $parent.event } }">
    <div class="emoticon-container">
        <ul class="list-unstyled list-inline" data-bind="foreach: emoticons">
            <li>
                <span class="smiley pointer emoji1" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji2" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji3" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji4" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji5" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji6" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji7" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji8" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji9" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji10" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji11" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji12" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji13" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji14" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji15" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji16" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji17" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji18" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji19" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji20" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji21" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji22" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji23" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji24" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji25" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji26" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji27" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji28" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji29" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji30" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji31" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji32" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji33" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji34" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji35" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji36" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        
            <li>
                <span class="smiley pointer emoji37" data-bind="css: $data.getCssClass(), event: { click: $parent.selectEmoticon }"></span>
            </li>
        </ul>
    </div>
</div>
                                    </div>