
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-part medias-to-send-wrapper shown" data-bind="css: { 'shown': $parent.mediasToSendAreVisible }">
                                        <div class="close" data-bind="click: $parent.hideMediasToSend">
                                            <span class="icon icon-close"></span>
                                        </div>
                                        <div data-bind="with : $parent.sender">
                                            <div data-bind="if: hasMedias">
                                        <%if current_user.privatephotos.length > 0 %>
<ul class="list-unstyled list-inline slider " data-bind="foreach: privatePhotos">
       <%=render partial: "myprivatephotostosend", collection: current_user.privatephotos, as: :photo%>                                                        

                            </ul>                                    

<%end%>
                                        </div>
                                            
                                            <div data-bind="if: hasNoMedia" class="text-center">
                                        <%if current_user.privatephotos.length == 0%>
                                    

                                                <a href="/Chat/SettingsAlbums">
                                                    Your albums are empty. Add photos to send to your contacts.
                                                </a>
                                        <%end%>
                                            </div>
                                            
                                        </div>
                                    </div>

