 <li class="slide profile-media">
                                    <div class="stretch imageprofile item" data-id="15" data-id="<%=photo.id%>" style="background-image: url('/assets/<%=photo.url%>');"  data-bind="style: { 'background-image': $parent.getBackgroundStyledPictureUrl(url) }, click: $parent.selectPrivatePicture"></div>
                                    
                                </li>